# Visual Studio files

*.ipch
*.sdf
*.opensdf
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.suo
*.vs
build\vs2010
out
build

# Binaries

*.o
*.a

# Directories

lib/
bin/
Debug/
Release/
/include/GL/GL/Context.hpp
/.gitignore
/CMakeLists.txt
/null.cpp
